[Desktop Entry]
Name=Suckless Terminal
Comment=st is a simple virtual terminal emulator for X which sucks less
Exec=st
Terminal=false
Type=Application
Icon=st-desktop
Categories=System;TerminalEmulator;
